<p class="mt-2">Normwerte für: {{patientsettings_summary}}.</p>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="norm_show_all_values_checkbox">
  <label class="form-check-label" for="norm_show_all_values_checkbox">alle Normwerte anzeigen</label>
</div>
<div class="norm_values mt-4">
  <div class="row norm_box">
    <div class="col col-3 col-lg-1 norm_box_title"><span>HF</span></div>
    <div class="col col-9 col-lg-11">
      <span class="norm_box_long_title">Herzfrequenz</span><br>
      <span>{{hf_value}}</span><br>
      <span class="norm_extended_values hide"><!-- Source: https://cprguidelines.eu/assets/guidelines/European-Resuscitation-Council-Guidelines-2021-Pa.pdf -->
            <hr>
            Erwachsene: 50 - 100 / min<br>
            ab Neugeborenem: 110 - 180 / min<br>
            ab 1 Jahr: 100 - 170 / min<br>
            ab 2 Jahren: 90 - 160 / min<br>
            ab 5 Jahren: 70 - 140 / min<br>
            ab 10 Jahren: 60 - 120 / min
      </span>
    </div>
  </div>
  <div class="row norm_box">
    <div class="col col-3 col-lg-1 norm_box_title"><span>RR</span></div>
    <div class="col col-9 col-lg-11">
      <span class="norm_box_long_title">Blutdruck</span><br>
      <span>{{{rr_value}}}</span><br>
      <span class="norm_extended_values hide"> <!-- 
        RR Source: Gortner, Duale Reihe Pädiatrie
        MAD Source: https://cprguidelines.eu/assets/guidelines/European-Resuscitation-Council-Guidelines-2021-Pa.pdf -->
            <hr>
            <b>Erwachsene:</b><br> Norm: 120 / 80 mmHg <br>Hypertonie: >= 140 / 90 mmHg <br>hypertensive Krise/Notfall: Systole >= 180 mmHg <br>MAD: >= 60 mmHg<br>
            ab Neugeborenem: 74 / 51 mmHg, MAD: >= 40 mmHg<br>
            ab 2 Monaten: 85 / 64 mmHg, MAD: >= 40 mmHg<br>
            ab 6 Monaten: 87 / 64 mmHg, MAD: >= 40 mmHg<br>
            ab 1 Jahr: 91 / 63 mmHg, MAD: >= 50 mmHg<br>
            ab 3 Jahren: 95 / 59 mmHg, MAD: >= 50 mmHg<br>
            ab 5 Jahren: 95 / 58 mmHg, MAD: >= 55 mmHg<br>
            ab 7 Jahren: 97 / 58 mmHg, MAD: >= 55 mmHg<br>
            ab 9 Jahren: 100 / 61 mmHg, MAD: >= 55 mmHg<br>
            ab 11 Jahren: 104 / 66 mmHg, MAD: >= 55 mmHg<br>
            13 - 14 Jahre: 109 / 70 mmHg, MAD: >= 55 mmHg<br>
      </span>
      <br><span class="text-info">Achtung: Die Blutdruckangaben für Kinder variieren in der Literatur stark. Bitte nur als Anhaltspunkt verwenden.</span>
    </div>
  </div>
  <div class="row norm_box">
    <div class="col col-3 col-lg-1 norm_box_title"><span>Re-<br>kap</span></div>
    <div class="col col-9 col-lg-11">
      <span class="norm_box_long_title">Rekapilarisierungszeit</span><br>
      <span>< 3 Sekunden</span><br>
      <span class="norm_extended_values hide">
        <!-- Source: Gies, C., & Hoppen, T. (2017). Zur raschen Einschätzung des kritisch kranken Kindes. Pädiatrie, 29(3), 32–33. doi:10.1007/s15014-017-1052-4  -->
            <hr>
            < 3 Sekunden
      </span>
    </div>
  </div>
  <div class="row norm_box">
    <div class="col col-3 col-lg-1 norm_box_title"><span>EKG</span></div>
    <div class="col col-9 col-lg-11">
      <span class="norm_box_long_title">EKG</span><br>
      <span>{{{ekg_value}}}</span><br>
      <span class="norm_extended_values hide">
            <hr><!-- Quellen: https://pubmed.ncbi.nlm.nih.gov/11286528/ für Kinder, EKG für Isabell für Erwachsene -->
            <b>Erwachsene:</b><br>
            {{> diagnostik_norm_c_ekg_adult}}<br>
            <b>Neugeborene:</b><br>
            {{> diagnostik_norm_c_ekg_newborn}}<br>
            <b>ab 1 Monat:</b><br>
            {{> diagnostik_norm_c_ekg_months1}}<br>
            <b>ab 3 Monaten:</b><br>
            {{> diagnostik_norm_c_ekg_months3}}<br>
            <b>ab 6 Monaten:</b><br>
            {{> diagnostik_norm_c_ekg_months6}}<br>
            <b>ab 1 Jahr:</b><br>
            {{> diagnostik_norm_c_ekg_years1}}
            <br>
            <b>ab 3 Jahren:</b><br>
            {{> diagnostik_norm_c_ekg_years3}}
            <br>
            <b>ab 5 Jahren:</b><br>
            {{> diagnostik_norm_c_ekg_years5}}
            <br>
            <b>ab 8 Jahren:</b><br>
            {{> diagnostik_norm_c_ekg_years8}}
            <br>
            <b>12 - 16 Jahre:</b><br>
            {{> diagnostik_norm_c_ekg_years12}}
            <br>
      </span>
    </div>
  </div>
</div>