<h2>Berechnung des mittleren ateriellen Blutdrucks</h2>
<div class="input-group mb-2 mt-3">
  <span class="input-group-text">Systole (mmHg)</span>
  <input type="text" id="mad-sys" class="form-control">
</div>
<div class="input-group mb-3">
  <span class="input-group-text">Diastole (mmHg)</span>
  <input type="text" id="mad-dias" class="form-control">
</div>
<h3>Ergebnis:</h3>
<div class="input-group mb-3">
  <span class="input-group-text bg-primary text-white">MAD</span>
  <input type="text" class="form-control" readonly id="mad-res">
</div>