<p class="mt-2">Normwerte für: {{patientsettings_summary}}.</p>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="norm_show_all_values_checkbox">
  <label class="form-check-label" for="norm_show_all_values_checkbox">alle Normwerte anzeigen</label>
</div>
<div class="norm_values mt-4">
  <div class="row norm_box">
    <div class="col col-3 col-lg-1 norm_box_title"><span>Tmp</span></div>
    <div class="col col-9 col-lg-11">
      <span class="norm_box_long_title">Körpertemperatur</span><br>
      <span>36 - 37,5 °C</span><br>
      <span class="norm_extended_values hide"><!-- Source: Amboss -->
            <hr>
           36 - 37,5 °C<br>
      </span>
    </div>
  </div>
</div>