<h2>QTc-Rechner</h2>
<span>Die Berechnung erfolgt nach der Hodges QTc-Formel.</span>

<div class="input-group mt-3">
  <span class="input-group-text" >QT-Dauer (ms)</span>
  <input type="text" class="form-control" id="qtc_qt">
</div>
<div class="input-group mt-3">
  <span class="input-group-text" >Herzfrequenz</span>
  <input type="text" class="form-control" id="qtc_hf">
</div>
<hr>
<div class="input-group mt-1">
  <span class="input-group-text bg-primary text-white" >QTc-Dauer</span>
  <input type="text" class="form-control" id="qtc_res" readonly>
</div>