<div class="topbar bg-light-grey">
    <span class="title">MediHelp</span> <span id="subtitle"></span>
</div>
<div class="content container-fluid mt-2">
    <div class="search mt-2">
        <input class="form-control search_bar"
            placeholder="Suche nach Normwerten, Medikamenten, SOPs oder Lexikoneinträgen">
        <ul class="list-group search_bar_entries">

        </ul>
    </div>
    <div class="card mt-5">
        <div class="card-header">
            Über diese App - <small>MediHelp v0.1.1</small>
        </div>
        <div class="card-body">
            <p class="card-text">Vielen Dank für die Installation dieser App. Fehler & Verbesserungsvorschläge bitte per E-Mail an <a href="mailto: medihelp@anghenfil.de">medihelp@anghenfil.de</a>.</p>
            <p class="card-text">Die App ist auf deine Unterstützung angewiesen!</p>
        </div>
    </div>
</div>