<h2>Medikamente nach Indikation</h2>
<div class="medi_list mt-3">
    <div class="row medi_list_indication d-flex justify-content-center align-items-center">
        <div class="col col-2">
            <img src="img/app_icon.jpg">
        </div>
        <div class="col col-10">
            <span class="fw-bold">Schmerzen</span>
        </div>
    </div>
    <div class="medi_list_medi d-flex align-items-center">
        <img src="img/esketamin_temp.jpg">
        <span class="medi_list_medi_name">Esketamin</span>
    </div>
    <div class="row medi_list_indication d-flex justify-content-center align-items-center">
        <div class="col col-2">
            <img src="img/app_icon.jpg">
        </div>
        <div class="col col-10">
            <span class="fw-bold">Fieber</span>
        </div>
    </div>
</div>