<div class="medi_list">
    <div class="medi_list_indication d-flex align-items-center">
        <img src="img/app_icon.jpg">
        <span class="fw-bold">Schmerzen</span>
    </div>
    {{> medi_list_fentanyl}}
    {{> medi_list_esketamin}}
    {{> medi_list_ketamin}}
    {{> medi_list_morphin}}
    {{> medi_list_piritramid}}
    <div class="medi_list_indication d-flex align-items-center mt-2">
            <img src="img/app_icon.jpg">
            <span class="fw-bold">Sedierung</span>
    </div>
</div>