<div class="topbar bg-light-grey">
    <svg id="nav_back_btn" xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 -960 960 960" width="26"><path d="M655-80 255-480l400-400 56 57-343 343 343 343-56 57Z"/></svg>
    <span class="title">Suche</span> <span id="subtitle"></span>
</div>
<div class="content container-fluid mt-2">
    <div class="search mt-2">
        <input class="form-control search_bar" placeholder="Suche nach Normwerten, Medikamenten, SOPs oder Lexikoneinträgen">
        <ul class="list-group search_bar_entries">
            
        </ul>
    </div>
</div>