<div class="medi_list_medi d-flex align-items-center">
    <span class="medi_list_medi_name medi_label_anaesthetika">KETAmin</span>
    <span class="medi_list_medi_handlesnamen">Ketamin-hameln, Ketamin Inresa</span>
</div>