<div class="medi_list_medi d-flex align-items-center clickable" data-link-document="medis_esketamin">
    <span class="medi_list_medi_name medi_label_anaesthetika">esKETAmin</span>
    <span class="medi_list_medi_handlesnamen">Ketanest S®, Spravato®</span>
</div>