{{> topbar this.topbar}}
<div class="content container-fluid mt-2">
    <div class="scheme">
        <div class="scheme-box">
            <div class="scheme-box-left-image">
                <img src="img/BEFAST-B.png" alt="B (Balance)">
            </div>
            <div class="scheme-box-right">
                <b>Balance (Gleichgewicht)</b>
                <ul>
                    <li>Stand- und Gangunsicherheit?</li>
                    <li>Fallneigung?</li>
                    <li>Finger-Nase-Versuch auffällig</li>
                </ul>
            </div>
        </div>
        <div class="scheme-box">
            <div class="scheme-box-left-image">
                <img src="img/BEFAST-E.png" alt="E (Eyes)">
            </div>
            <div class="scheme-box-right">
                <b>Eyes (Augen)</b>
                <ul>
                    <li>Sehstörungen?</li>
                    <li>Gesichtsfeldausfall?</li>
                    <li>Doppelbilder?</li>
                    <li>Sehverlust?</li>
                </ul>
            </div>
        </div>
        <div class="scheme-box">
            <div class="scheme-box-left-image">
                <img src="img/BEFAST-F.png" alt="F (Face)">
            </div>
            <div class="scheme-box-right">
                <b>Face (Gesicht)</b>
                <ul>
                    <li>Zähne zeigen lassen</li>
                    <li>Lächeln lassen</li>
                    <li>Zunge herausstrecken lassen</li>
                    <li>-> Asymmetrie? Lähmung?</li>
                </ul>
            </div>
        </div>
        <div class="scheme-box">
            <div class="scheme-box-left-image">
                <img src="img/BEFAST-A.png" alt="A (Arms)">
            </div>
            <div class="scheme-box-right">
                <b>Arms (Arme)</b>
                <ul>
                    <li>Arme ausstrecken lassen, Handflächen nach oben, Augen schließen -> Absinken eines Armes?</li>
                    <li>Beine im Liegen ausstrecken lassen, Handflächen nach oben, Augen schließen -> Absinken eines Beines?</li>
                </ul>
            </div>
        </div>
        <div class="scheme-box">
            <div class="scheme-box-left-image">
                <img src="img/BEFAST-S.png" alt="S (Speech)">
            </div>
            <div class="scheme-box-right">
                <b>Speech (Sprache)</b>
                <ul>
                    <li>Satz nachsprechen lassen</li>
                    <li>Probleme bei Wortfindung?</li>
                    <li>Verwaschene Sprache?</li>
                </ul>
            </div>
        </div>
        <div class="scheme-box">
            <div class="scheme-box-left-image">
                <img src="img/BEFAST-T.png" alt="T (Time)">
            </div>
            <div class="scheme-box-right">
                <b>Time (Zeit)</b>
                <ul>
                    <li>Wie lange bestehen die Symptome?</li>
                </ul>
            </div>
        </div>
    </div>
</div>