{{> topbar this.topbar}}
<div class="content container-fluid mt-2">
    <h1>Normwerte</h1>
    <div data-link-to="diagnostik.norm_ab" class="light-box row d-flex align-items-center m-0 mb-1" id="norm_a_b_btn">
        <div class="col col-3 col-lg-2">
            <span style="font-size: 20pt">A/B</span>
        </div>
        <div class="col col-9 col-lg-10">
            <small>AF, Atemvolumina, ...</small>
        </div>
    </div>
    <div data-link-to="diagnostik.norm_c" class="light-box row d-flex align-items-center m-0 mb-1" id="norm_c_btn">
        <div class="col col-3 col-lg-2">
            <span style="font-size: 20pt;">C</span>
        </div>
        <div class="col col-9 col-lg-10">
            <small>RR, HF, EKG, ...</small>
        </div>
    </div>
    <div data-link-to="diagnostik.norm_d" class="light-box row d-flex align-items-center m-0 mb-1" id="norm_d_btn">
        <div class="col col-3 col-lg-2">
            <span style="font-size: 20pt;">D</span>
        </div>
        <div class="col col-9 col-lg-10">
            <small>BZ</small>
        </div>
    </div>
    <div class="light-box row d-flex align-items-center m-0 mb-1" id="norm_e_btn">
        <div class="col col-3 col-lg-2">
            <span style="font-size: 20pt;">E</span>
        </div>
        <div class="col col-9 col-lg-10">
            <small>BGA, Laborwerte, ...</small>
        </div>
    </div>
    <h1 class="mt-4">Scores & Tools</h1>
    <div class="scores_tools_box">
        <div class="row">
            <div class="col-4 col-lg-1 col-md-2 mt-3"><img src="img/APGAR.jpg" class="scores_tools_icon" alt="APGAR-Score" id="scores_tools_apgar_btn"></div>
            <div class="col-4 col-lg-1 col-md-2 mt-3"><img src="img/BEFAST.jpg" class="scores_tools_icon" alt="BEFAST-Score" id="scores_tools_befast_btn"></div>
            <div class="col-4 col-lg-1 col-md-2 mt-3"><img src="img/GCS.jpg" class="scores_tools_icon" alt="Glascow-Coma-Scale" id="scores_tools_gcs_btn"></div>
            <div class="col-4 col-lg-1 col-md-2 mt-3"><img src="img/Lagetyp.jpg" class="scores_tools_icon" id="scores_tools_lagetyp_btn" alt="Herz Lagetypbestimmung"></div>
            <div class="col-4 col-lg-1 col-md-2 mt-3"><img src="img/MAD.jpg" class="scores_tools_icon" id="scores_tools_mad_btn" alt="Rechner für mittleren ateriellen Druck (MAD)"></div>
            <div class="col-4 col-lg-1 col-md-2 mt-3"><img src="img/qSOFA.jpg" class="scores_tools_icon" id="scores_tools_qsofa_btn" alt="(q)SOFA-Score"></div>
            <div class="col-4 col-lg-1 col-md-2 mt-3"><img src="img/QTc.jpg" class="scores_tools_icon" id="scores_tools_qtc_btn" alt="Berechnung der QTc-Zeit"></div>
            <div class="col-4 col-lg-1 col-md-2 mt-3"><img src="img/MAD.jpg" class="scores_tools_icon" id="scores_tools_frequenzbestimmung_btn" alt="Auszählhilfe für Herz- und Atemfrequenz"></div>
        </div>
    </div>
</div>