{{> topbar this.topbar}}
<div class="content container-fluid mt-2">
    <p>Mit diesem Tool können Frequenzen (z.B. Puls oder Atemfrequenz) durch Tippen bestimmt werden.
    Tippe hierfür z.B. bei jedem Einatmen oder Pulsschlag auf die untere Schaltfläche oder die Leertaste.</p>
    <div class="tap_area">
        Hier tippen!
    </div>
    <div class="tap_result">
        Ergebnis: <span class="tap_result_value"></span>
    </div>
</div>