{{> topbar this.topbar}}
<div class="content container-fluid mt-2">
<div class="light-box text-center">Hauptausschlag in <b>I. Ableitung</b></div>
<div class="row d-flex">
    <div class="col col-6 justify-content-center d-flex"><button type="button" class="btn btn-success btn-lg" id="lagetyp_abltg_1_pos">Positiv</button></div>
    <div class="col col-6 justify-content-center d-flex"><button type="button" class="btn btn-danger btn-lg" id="lagetyp_abltg_1_neg">Negativ</button></div>
</div>
<div id="lagetyp_abltg_2" class="hide">
    <div class="row text-center mt-2 mb-2"><span>⇓</span></div>
    <div class="light-box text-center">Hauptausschlag in <b>II. Ableitung</b></div>
    <div class="row d-flex">
        <div class="col col-6 justify-content-center d-flex"><button type="button" class="btn btn-success btn-lg" id="lagetyp_abltg_2_pos">Positiv</button></div>
        <div class="col col-6 justify-content-center d-flex"><button type="button" class="btn btn-danger btn-lg" id="lagetyp_abltg_2_neg">Negativ</button></div>
    </div>
</div>
<div id="lagetyp_abltg_3" class="hide">
    <div class="row text-center mt-2 mb-2"><span>⇓</span></div>
    <div class="light-box text-center">Hauptausschlag in <b>III. Ableitung</b></div>
    <div class="row d-flex">
        <div class="col col-6 justify-content-center d-flex"><button type="button" class="btn btn-success btn-lg" id="lagetyp_abltg_3_pos">Positiv</button></div>
        <div class="col col-6 justify-content-center d-flex"><button type="button" class="btn btn-danger btn-lg" id="lagetyp_abltg_3_neg">Negativ</button></div>
    </div>
</div>
<div id="lagetyp_indifferenz_or_steiltyp" class="hide">
    <div class="row text-center mt-2 mb-2"><span>⇓</span></div>
    <div class="light-box text-center">Hauptausschlag in <b>I. Ableitung</b> größer als Hauptausschlag in <b>III. Ableitung</b>?</div>
    <div class="row d-flex">
        <div class="col col-6 justify-content-center d-flex"><button type="button" class="btn btn-success btn-lg" id="lagetyp_i_bigger_iii_yes">Ja</button></div>
        <div class="col col-6 justify-content-center d-flex"><button type="button" class="btn btn-danger btn-lg" id="lagetyp_i_bigger_iii_no">Nein</button></div>
    </div>
</div>
<div id="lagetyp_result_container" class="mt-5">
    <hr>
    <h3 class="text-center">Ergebnis:</h3>
    <p id="lagetyp_result" class="text-center"></p>
</div>
</div>
