{{> topbar this.topbar}}
<div class="content container-fluid mt-2 d-flex align-items-center flex-column">
    <div class="d-flex align-items-center justify-content-center">
        <label for="#bpm" class="me-3">BPM</label>
        <input id="bpm" value="100" class="form-control" type="number" style="max-width: 100px;">
    </div>
    <button class="btn btn-outline-primary mt-3" id="metronom-start" style="width: fit-content">Metronom starten</button>
    <button class="btn btn-outline-primary mt-3 hide" id="metronom-stop" style="width: fit-content">Metronom stoppen</button>
</div>