{{> topbar this.topbar}}
<div class="content container-fluid mt-2">
    <div class="scheme">
        <div class="scheme-box">
            <div class="scheme-box-left-image">
                <img src="img/OPQRST-O.png" alt="O (Onset)">
            </div>
            <div class="scheme-box-right">
                <b>Onset (Beginn)</b>
                <ul>
                    <li>Wann haben die Beschweden begonnen?</li>
                    <li>Traten die Beschwerden plötzlich oder schleichend auf?</li>
                    <li>Was hat die Patient*in bei Beginn der Beschwerden gemacht?</li>
                </ul>
            </div>
        </div>
        <div class="scheme-box">
            <div class="scheme-box-left-image">
                <img src="img/OPQRST-P.png" alt="P (Provocation)">
            </div>
            <div class="scheme-box-right">
                <b>Provocation (Palliation)</b>
                <p>
                    Lassen sich die Beschwerden lindern oder verstärken? z.B. durch Bewegung, Ruhe, Palpation
                </p>
            </div>
        </div>
        <div class="scheme-box">
            <div class="scheme-box-left-image">
                <img src="img/OPQRST-Q.png" alt="Q (Quality)">
            </div>
            <div class="scheme-box-right">
                <b>Quality (Art / Qualität)</b>
                <ul>
                    <li>Wie fühlt sich der Schmerz an?</li>
                    <li>stechend/stumpf/brechend/brennend/zerreißend?</li>
                    <li>pulsierend, konstant, ansteigend?</li>
                </ul>
            </div>
        </div>
        <div class="scheme-box">
            <div class="scheme-box-left-image">
                <img src="img/OPQRST-R.png" alt="R (Region)">
            </div>
            <div class="scheme-box-right">
                <b>Region (Region & Ausstrahlung)</b>
                <ul>
                    <li>Wo sind die Beschwerden?</li>
                    <li>Strahlen die Beschwerden aus? Wohin?</li>
                </ul>
            </div>
        </div>
        <div class="scheme-box">
            <div class="scheme-box-left-image">
                <img src="img/OPQRST-S.png" alt="S (Severity)">
            </div>
            <div class="scheme-box-right">
                <b>Severity (Stärke)</b>
                <p>Einschätzung durch z.B. NRS (Skala von 0 - 10)</p>
            </div>
        </div>
        <div class="scheme-box">
            <div class="scheme-box-left-image">
                <img src="img/OPQRST-T.png" alt="T (Time)">
            </div>
            <div class="scheme-box-right">
                <b>Time (zeitlicher Dauer)</b>
                <ul>
                    <li>Wie lange bestehen die Schmerzen bereits?</li>
                    <li>Haben sich die Beschwerden im zeitlichen Verlauf verändert?</li>
                    <li>Sind solche Beschwerden früher schon einmal aufgetreten?</li>
                </ul>
            </div>
        </div>
    </div>
</div>