{{> topbar this.topbar}}
<div class="content container-fluid mt-2">
    <div class="scheme">
        <div class="scheme-box">
            <div class="scheme-box-left-image">
                <img src="img/SAMPLER-S.jpg" alt="S (Symptome)">
            </div>
            <div class="scheme-box-right">
                <b>Symptome</b>
                <ul>
                    <li>Atembeschwerden?</li>
                    <li>Schmerzen? (-> OPQRST)</li>
                    <li>sonstige Beschwerden?</li>
                </ul>
            </div>
        </div>
        <div class="scheme-box">
            <div class="scheme-box-left-image">
                <img src="img/SAMPLER-A.jpg" alt="A (Allergien)">
            </div>
            <div class="scheme-box-right">
                <b>Allergien</b>
                <ul>
                    <li>gegen Medikamente?</li>
                    <li>gegen Nahrungsmittel?</li>
                    <li>sonstige?</li>
                </ul>
            </div>
        </div>
        <div class="scheme-box">
            <div class="scheme-box-left-image">
                <img src="img/SAMPLER-M.jpg" alt="M (Medikation)">
            </div>
            <div class="scheme-box-right">
                <b>Medikation</b>
                <p>Welche Medikamente nimmt die Patient*in regelmäßig oder aktuell ein?</p>
            </div>
        </div>
        <div class="scheme-box">
            <div class="scheme-box-left-image">
                <img src="img/SAMPLER-P.jpg" alt="P (Patientenvorgeschichte)">
            </div>
            <div class="scheme-box-right">
                <b>Patientenvorgeschichte</b>
                <ul>
                    <li>Vorerkrankungen?</li>
                    <li>vergangene medizinische Eingriffe?</li>
                </ul>
            </div>
        </div>
        <div class="scheme-box">
            <div class="scheme-box-left-image">
                <img src="img/SAMPLER-L.jpg" alt="L (Letzte ...)">
            </div>
            <div class="scheme-box-right">
                <b>Letzte... </b>
                <ul>
                    <li>letzte Mahlzeit?</li>
                    <li>letzter Toilettengang? Auffälligkeiten?</li>
                    <li>Periode?</li>
                </ul>
            </div>
        </div>
        <div class="scheme-box">
            <div class="scheme-box-left-image">
                <img src="img/SAMPLER-E.jpg" alt="E (Ereignisse)">
            </div>
            <div class="scheme-box-right">
                <b>Ereignisse vor dem Vorfall</b>
                <p>Gab es vor dem Vorfall vorangegangene, ggf. auslösende Ereignisse?</p>
            </div>
        </div>
        <div class="scheme-box">
            <div class="scheme-box-left-image">
                <img src="img/SAMPLER-R.jpg" alt="R (Risikofaktoren)">
            </div>
            <div class="scheme-box-right">
                <b>Risikofaktoren</b>
                <ul>
                    <li>Schwangerschaft möglich?</li>
                    <li>Raucher*in?</li>
                    <li>Drogenkonsum?</li>
                    <li>Übergewicht?</li>
                </ul>
            </div>
        </div>
    </div>
</div>