{{> topbar this.topbar}}
<div class="content container-fluid mt-2">
    <div class="search mt-2">
        <input class="form-control search_bar"
               placeholder="Suche nach Normwerten, Medikamenten, SOPs oder Lexikoneinträgen">
        <ul class="list-group search_bar_entries">

        </ul>
    </div>
    <div class="card mt-5">
        <div class="card-header">
            Über diese App - <small>MediHelp v0.2.0</small>
        </div>
        <div class="card-body">
            <p class="card-text">Vielen Dank für die Nutzung dieser App. Fehler & Verbesserungsvorschläge bitte per E-Mail an <a href="mailto: medihelp@anghenfil.de">support@medihelp.app</a>.</p>
            <p class="card-text"><b>Aktivierungsstatus:</b><br>
            {{#if this.activation_details.activated}}
                MediHelp Pro ist aktiv! <button class="btn btn-sm btn-outline-primary" data-link-to="activation">Info</button>
            {{else}}
                Du verwendest die kostenlose Version von MediHelp. <button class="btn btn-sm btn-outline-primary" data-link-to="activation">Pro Aktivieren</button>
            {{/if}}
            </p>
        </div>
    </div>
</div>