:root{
    --colour-black: black;
    --colour-blue: #08B2E3;
    --colour-light-blue: #e6f7fc;
    --colour-green: #5cc856;
    --colour-red: #EF767A;
    --colour-violet: #cf24c9;
    --colour-light-violet: #fdecfb;
    --colour-grey: grey;
    --colour-light-grey: rgb(240, 240, 240);
    --colour-medis-anaesthetika: #fff200;
    --colour-medis-benzo: #ff8200;
    --colour-medis-relax: #f9423a;
    --colour-medis-opioide: #71c5e8;
    --colour-medis-vaso: #d6bfdd;
}

.medi_label_anaesthetika{
    background-color: var(--colour-medis-anaesthetika);
}

.medi_label_opioide{
    background-color: var(--colour-medis-opioide);
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: text;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    user-select: text;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12pt;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    width:100%;
    background-color: white;
    color: black;
    hyphens: auto;
}

h1{
    font-size: 16pt;
}
h2{
    font-size: 15pt;
}
h3{
    font-size: 14pt;
}
h4{
    font-size: 13pt;
}
h5{
    font-size: 12.5pt;
}

html {
    margin: 0;
    padding: 0;
}
/* Portrait layout (default) */
.app {
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    
}

@media screen and (prefers-color-scheme: dark) {
    
}

.cnavbar{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-top: 1px solid grey;
    z-index: 1;
    background-color: white;
}

.cnavbar-icon{
    height: 45px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    cursor:pointer;
}

.cnavbar-icon.active{
    color: var(--colour-blue);
}

.cnavbar-icon > svg{
    height: 30px;
    width: 30px;
    align-self: center;
    display: block;
}
.cnavbar-icons{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: var(--colour-grey);
}
.topbar{
    z-index: 1;
    top: 0px;
    left:0px;
    right:0px;
    height:50px;
    display: flex;
    align-items: center;
}
.bg-light-blue{
    background-color: var(--colour-light-blue)
}
.bg-light-violet{
    background-color: var(--colour-light-violet)
}
.bg-light-grey{
    background-color: var(--colour-light-grey);
}
.topbar > .title{
    font-size: 16pt;
    margin-left: 13px;
}
#subtitle{
    font-size: 13pt;
    margin-left: 6px;
}
.content{
    position: relative;
    margin-bottom: 55px;
    overflow: auto;
    height: 100%;
}
.light-box{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid lightgray;
    cursor: pointer;
}
.light-box.active{
    border: 1px solid black;
}
.small-light-box{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid lightgray;
    cursor: pointer;
    font-size: 12pt;
}
.box-label{
    font-size: 10pt;
}
.accordion-button:not(.collapsed) {
    background-color: var(--colour-light-blue);
    color: black;
}
#cnavbar-icon-patient-data{
    cursor: pointer;
    color: var(--colour-grey);
}
.pointer{
    cursor: pointer;
}
.disabled{
    color: var(--colour-grey);
}
.selected{
    border-color: 1px solid var(--colour-light-blue);
}
.big-input{
    font-size: 20pt;
}
.hide{
    display: none !important;
}
.norm_all_references{
    font-size: 10pt;
}
#patientsettings_child_age_input_label{
    text-align: center;
    display: block;
}
.norm_box_title{
    position: relative;
    border: 1px solid var(--colour-grey);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18pt;
    font-family: monospace;
}
.norm_box_long_title{
    font-weight: bold;
}
.norm_box{
    display: flex;
    align-items: center;
    border-top: 1px solid var(--colour-light-grey);
    padding: 10px;
    font-size: 12pt;
    line-height: 1.3;
}
.norm_extended_values{
    font-size: 10pt;
    color:var(--colour-grey);
}
.medis_extended_values{
    font-size: 10pt;
    color:var(--colour-grey);
}
#nav_back_btn{
    margin-left: 10px;
}
.search_bar{
    border-radius: 0;
}
.search_bar_entries{
    list-style: none;
}
.search_bar_entries > li{
    border: 1px solid var(--bs-border-color);
    height: 38px;
    padding: 5px;
    border-top: none;
    margin-left: 20px;
    cursor: pointer;
}
.search_bar_entry_norm{
    color: var(--colour-blue);
}
.search_bar_entry_scores-tools{
    color: var(--colour-blue);
}
.search_bar_entry_sop{
    color: var(--colour-red);
}
.scores_tools_icon{
    width: 100%;
    height: 100%;
    border: 1px solid var(--colour-light-grey);
    cursor: pointer;
}
#apgar_result{
    text-align: center;
    font-weight: bold;
}
.bb-grey{
    border-bottom: 1px solid var(--colour-light-grey);
}
.btn-not-selected{
    opacity: 0.5;
}
.clock{
    font-size: 26pt;
    font-family: monospace;
    border: 10px solid var(--colour-light-grey);
    border-radius: 5px;
    padding: 10px;

}
#frequenzbestimmung_tap_counter_btn{
    height: 150px;
    width: 150px;
    border: 1px solid var(--colour-light-grey);
    box-shadow: var(--colour-light-grey) 0px 0px 10px;
    margin-bottom: 10px;
}
#frequenzbestimmung_tap_counter_btn:active {
    border: 1px solid black;
}
.medi_list_indication > img{
    height: 50px;
    margin-right: 5px;
}
.medi_list_indication{
    padding: 0px;
    font-size: 14pt;
    margin: inherit;
    box-shadow: var(--colour-light-grey) 0px 0px 5px;
}
.medi_list_medi > img{
    height: 30px;
    margin-right: 5px;
}
.medi_list_medi{
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    box-shadow: var(--colour-light-grey) 0px 0px 5px;
    margin-right: inherit;
}
.medi_list_medi_name{
    margin-right: 5px;
    padding: 10px;
    font-weight: bold;
    text-wrap: nowrap;
    min-width: 130px;
    text-align: center;
}
.medi_list_medi_handlesnamen{
    font-style: italic;
}
.medi_list > .row > .col{
    padding: 0px;
}
.clickable{
    cursor: pointer;
}
.medi_detail_name{
    margin-right: 5px;
    padding: 10px;
    font-weight: bold;
    text-wrap: nowrap;
    min-width: 150px;
    text-align: center;
    display: inline-block;
    font-size: 14pt;
}
.medi_detail_handelsnamen{
    font-style: italic;
    font-size: 10pt;
}
.medis_kontraindikationen{
    font-size: 10pt;
}
#nav-back{
    margin-left: 5px;
    cursor: pointer;
}
.normwert-tabelle{
    margin-top: 5px;
    font-size: 9pt;
}
.normwert-tabelle td:nth-child(n+2){
    text-align: center;
}
.normwert-tabelle th:nth-child(n+2){
    text-align: center;
}
.smaller{
    font-size: 9pt;
}
.score{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: 10px 10px;
}
.score-category-title{
    padding: 5px;
    width: 100%;
    display: block;
    background-color: var(--colour-light-grey);
}
.score-result-title{
    padding: 5px;
    width: 100%;
    display: block;
    background-color: var(--colour-light-blue);
    font-weight: bold;
}
.tap_area{
    width: 100%;
    height: 100px;
    background-color: var(--colour-light-grey);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tap_area:active{
    transform: translateY(2px);
}
.tap_result{
    margin-top: 10px;
    border: 5px solid var(--colour-light-grey);
    width: 300px;
    padding: 5px;
}
.scheme{
    display: flex;
    flex-direction: column;
}

.scheme-box {
    font-size: 10pt;
    display: flex;
    border-bottom: 1px solid #ccc;
    align-items: stretch; /* sorgt dafür, dass beide Boxen gleich hoch sind */
}
.scheme-box:last-child {
    border-bottom: none;
}

.scheme-box-left-image {
    width: 100px;
    margin: 10px 0 10px 0;
    flex-shrink: 0;
    display: flex;
}
.scheme-box-left{
    width: 100px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.scheme-box-left-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.scheme-box-right {
    flex: 1;
    padding: 10px;
    background-color: #fff;
}

.scheme-box-letter{
    font-size: 45pt;
    margin-left: 5px;
}
.subnavigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media screen and (max-width: 480px){
    .subnavigation{
        flex-direction: column;
    }
    .subnavigation > div{
        margin-top: 5px;
        margin-bottom: unset;
    }
    #vas-range > div > span{
        max-width: 100px;
    }
}
.score-radio{
    display: flex;
    align-items: baseline;
}
.score-radio > label{
    margin-left: 5px;
}
#nrs > img,
#vas-range{
    width: 100%;
    max-width: 1000px;
}